.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-Content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 15px;
  font-family: Open Sans, sans-serif;
}

.App-form > h2 {
  color: rgba(70, 48, 93, 1.0);
  font-size: 30px;
  max-width: 90%;
}

.App-form > p {
  width: 100%;
  text-align: left;
  margin-left: 25px;
}

.App-form > input {
  height: 25px;
}

.App-form-name{
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
  width: 90%;
}

.App-form-name-input {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.App-form-button {
  width: 50%;
  height: 40px;
  background-color: rgba(70, 48, 93, 1.0);
  color: white;
  border-radius: 10px;
}

.App-form-input {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 55px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
